* {
  margin: 0;
}
.header {
  background-color: forestgreen;
  height: 400px;
  width: 40vw;
  margin: 0 auto;
  display: flex;
}
.salam {
  color: red;
  font-weight: 800;
  margin-bottom: 60px;
  margin: auto;
  display: flex;
}
